@import "tailwindcss";
@plugin "daisyui";

.footer {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
}